<% @products.each_slice(3) do |products| %>
    <div class="container">
    <div class="col-md-12 col-sm-12 colxs-12 column productbox">
    <% products.each do |product| %>
      <div class="col-md-4 col-sm-4 colxs-4" data-mh="each-product">
        <div class="producttitle"><%= link_to product.name, product, data: {mh: 'product-name'} %></div>
        <%= image_tag(product.image_url, class: 'img-responsive', data: {mh: 'product-image'}) %>
        <div class="productdesc"><p data-mh="product-description"><%= product.description %></p></div>
        <div class="productprice"><p class="product-price" data-mh="product-price">$<%= product.price %>.00</p></div>
        <p><%= link_to 'Edit', edit_product_path(product) %>  <%= link_to 'Delete', product, method: :delete, data: { confirm: 'Are you sure?' } %></p>
      </div>
<% end %>
    </div>
  </div>
</div>
<% end %>

<%= link_to 'New Product', new_product_path %>
