<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<section class="team-sec">
  <div class="container">
    <h1 class="text-center">New Models Available Now!</h1>
    <p class="home-paragraph text-center">Just in time for the season, we have a full range of bikes from road, to racing, casual and triathlon bikes. In stock now.  Come in today and try your next bike! Order online and have it shipped out in 2 days, no shipping charge! Ride, Ride, Ride!</p>
      <div class="row">
        <div id="carousel-example" class="carousel slide team team-web-view" data-ride="carousel">
          <div class="carousel-line"></div>
        </div>
      </div>
 
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <% @products.each_slice(3) do |products| %>
  <div class="container-fluid">
      <% products.each do |product| %>
  <div class="row">
    <div class="col-md-4">
      <div class="col-item">
        <div class="photo-shadow"></div>
          <div class="photo">
              <%= image_tag(product.image_url, class: 'img-responsive', data: {mh: 'product-image'}) %>
          </div>
  <div class="info">
    <div class="producttitle"><%= link_to product.name, product, data: {mh: 'product-name'} %></div>
    
    <div class="productprice"><p class="product-price" data-mh="product-price">$<%= product.price %>.00</p></div>

     <% if signed_in? && current_user.admin? %>

    <p><%= link_to 'Edit', edit_product_path(product) %>  <%= link_to 'Delete', product, method: :delete, data: { confirm: 'Are you sure?' } %></p>
    <div class="clearfix"></div><% end %>
  </div>
</div>
</div>
<% end %>
    </div>
  </div>
</div>
</div>
<% end %>
</section>
<%= link_to 'New Product', new_product_path %>



                        

