<!DOCTYPE html>
<html>
  <head>
    <title>Foundryapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>

  <!-- Custom styles for this template go here -->

    <link href='https://fonts.googleapis.com/css?family=Alex Brush' rel='stylesheet'>

    <link href='https://fonts.googleapis.com/css?family=Capriola' rel='stylesheet'>

    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  </head>

  <body>
   <body data-spy="scroll" data-target=".navbar" data-offset="50">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid" >
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
          data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          <a class="navbar-brand" href="#">Kristina Taylor | Web Developer</a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li class="active"><a href="index.html">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
          </ul>
        </div>
      </nav>

      <style>
    body {
        position: relative; 
    }
    #about {}
    #contact {}
    </style>

  <div class="container-fluid bg-1 text-center">
  <%= image_tag("racebike.jpg") %> 
</div>

<%= yield %>

<footer class="footer-container">
    <div>
      <p>&copy; Web Development by Kristina R. Taylor 2017</p>

      <h4 class="_14">Follow me on</h4>
    <ul class="social-icons">
        <li><a href="https://www.facebook.com/kristina.westermarktaylor" class="social-icon"> <i class="fa fa-facebook"></i></a></li>
        <li><a href="https://twitter.com/kwestermark1" class="social-icon"> <i class="fa fa-twitter"></i></a></li>
        <li><a href="https://www.linkedin.com/in/kristinawestermarktaylor/" class="social-icon"> <i class="fa fa-linkedin"></i></a></li>
    </ul>
    </div>
  </footer>
  </body>
</html>
